<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href="{{ 'assets/components/slick/slick.css' | relative_url }}" rel='stylesheet' type='text/css'>
<link href="{{ 'assets/components/swipebox/src/css/swipebox.min.css' | relative_url }}" rel='stylesheet' type='text/css'>
<link href="{{ 'assets/fonts/iconfont/style.css' | relative_url }}" rel='stylesheet' type='text/css'>
<link href="{{ 'assets/fonts/qticons/qticons.css' | relative_url }}" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ 'assets/css/qt-main.css' | relative_url }}">