<header id="home" class="qt-header parallax-container scrollspy">
<div class="parallax" data-start="width:100%;height:100%;top: 0%;left: 0%;" data-end="width:260%;height:260%;top:-80%;left:-80%;"><img src="assets/images/bg1.jpg" alt="background"></div>
<div class="qt-valign-wrapper">
<div class="qt-valign">
<div class="container center-align" data-50p-top="opacity:1;margin-top:0px" data-30p-top="opacity:1;" data-0p-top="opacity:0;margin-top:-700px">
<img src="assets/images/logo.png" class="logo" alt="Sonik template">
<h4>{{ site.bio }}</h4>
<a class="btn btn-primary" target="_blank" href="https://lexiiz.zxce3.net">New Page V.2</a>
</div>
</div>
</div>
<div class="qt-particles" id="particlesheader" data-color="#ffffff" data-opacity="0.5" data-speed="1"></div>
</header>


<div id="menu" class="qt-menu-wrapper" data-0-top>
<nav id="stickymenu" class="qt-menu grey-text text-lighten-4">

<ul class="qt-desktopmenu">
<li><a href="#home" class="qwsmoothscroll">Home</a></li>
<li><a href="#music" class="qwsmoothscroll">Music</a></li>
<!-- <li><a href="#photos" class="qwsmoothscroll">Photos</a></li> -->
<li><a href="#bio" class="qwsmoothscroll">Bio</a></li>
<!-- <li><a href="#booking" class="qwsmoothscroll">Booking</a></li> -->
<li><a href="#presskit" class="qwsmoothscroll">Download</a></li>
<li><a href="#video" class="qwsmoothscroll">Video</a></li>
</ul>

<ul id="slide-out" class="side-nav qt-mobilemenu">
<li><a href="#home" class="qwsmoothscroll">Home</a></li>
<li><a href="#music" class="qwsmoothscroll">Music</a></li>
<!-- <li><a href="#photos" class="qwsmoothscroll">Photos</a></li> -->
<li><a href="#bio" class="qwsmoothscroll">Bio</a></li>
<!-- <li><a href="#booking" class="qwsmoothscroll">Booking</a></li> -->
<li><a href="#presskit" class="qwsmoothscroll">Download</a></li>
<li><a href="#video" class="qwsmoothscroll">Video</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse qt-menu-switch"><span class="lnr lnr-menu"></span></a>
</nav>
</div>
