<script src="{{ 'assets/js/modernizr-custom.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery-migrate.min.js' | relative_url }}"></script>

<script src="{{ 'assets/js/materializecss/bin/materialize.min.js' | relative_url }}"></script>
<script src="{{ 'assets/components/slick/slick.min.js' | relative_url }}"></script>
<script src="{{ 'assets/components/particles/particles.min.js' | relative_url }}"></script>
<script src="{{ 'assets/components/skrollr/skrollr.min.js' | relative_url }}"></script>
<script src="{{ 'assets/components/swipebox/lib/ios-orientationchange-fix.js' | relative_url }}"></script>
<script src="{{ 'assets/components/swipebox/src/js/jquery.swipebox.min.js' | relative_url }}"></script>

<script src="{{ 'assets/js/qt-main.js' | relative_url }}"></script>