body {
    background-color: #121212; /* Warna latar belakang gelap */
    color: #FFFFFF; /* Warna teks */
    font-family: 'JetBrains Mono', monospace; /* Font JetBrains Mono */
    margin: 5px;
    padding: 5px;
    min-height: 100vh;
}

.container {
    width: 80%;
    padding: 20px;
    text-align: center;
    margin: 0 auto; /* Rata tengah container */
}

h1 {
    text-align: center;
}
a {
    color: white;}
p {
    line-height: 1.5;
}

.search-container {
    position: relative; /* Jadikan posisi relatif untuk posisi absolut ikon search */
    display: flex; /* Gunakan flex untuk mengatur posisi ikon */
    align-items: center; /* Posisikan ikon secara vertikal di tengah input */
    justify-content: center; /* Posisikan input secara horizontal di tengah */
    margin: 20px auto; /* Atur margin atas dan bawah menjadi 20px dan rata tengah horizontal */
}

input[type="text"] {
    padding: 8px;
    border-radius: 30px; /* Bentuk kapsul memanjang */
    border: 1px solid #FFFFFF; /* Tambahkan border */
    background-color: #121212; /* Warna latar belakang gelap */
    color: #FFFFFF; /* Warna teks */
}

input[type="text"]::placeholder {
    color: #FFFFFF; /* Warna teks placeholder */
}

#searchResults {
    margin-top: 20px;
    text-align: center; /* Rata tengah hasil pencarian */
    display: flex; /* Jadikan hasil pencarian terlihat berdampingan */
    flex-wrap: wrap; /* Pastikan hasil pencarian bisa dibungkus */
    justify-content: center; /* Letakkan hasil pencarian di tengah */
}

#searchResults a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 5px; /* Ubah margin untuk memberikan jarak antar hasil */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #FFFFFF; /* Tambahkan border */
    line-height: 1.6; /* Sesuaikan line-height agar tidak ada ruang ekstra */
    text-align: center; /* Rata tengah teks */
    flex-grow: 1; /* Biarkan hasil pencarian tumbuh seiring kebutuhan */
    max-width: 40%; /* Batasi lebar hasil pencarian */
    overflow: hidden; /* Sembunyikan overflow jika teks terlalu panjang */
    text-overflow: ellipsis; /* Tampilkan elipsis untuk teks yang terpotong */
}

.floating-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.floating-icon i {
    font-size: 24px;
    color: #333;
    background-color: transarent; /* Warna latar belakang transparan */
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s; /* Animasi transisi opasitas */
}

.floating-icon i:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Warna latar belakang transparan saat hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-text {
    margin-left: 5px; /* Jarak antara ikon dan teks */
}

/* Add the following CSS to fix the position of the floating back button */
.floating-icon.back-button {
    bottom: 20px;
}

/* Mengatur opasitas ikon saat tidak dihover */
.floating-icon i:not(:hover) {
    opacity: 0.7; /* Opasitas yang diinginkan saat tidak dihover */
}

